iframe{
    margin-top: 15px;
    border: none;
}

.select-wrapper {
    text-align:center;
    color: #0EB6EA;
    font-family: monospace;
}

.ajax_loader{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/page-loader.gif') 50% 50% no-repeat rgba(200, 200, 200, 0.3);
    background-position: center center;
    background-size: 60px 60px;
}

#oneself_icon {
    width: 40px;
    cursor: pointer;
}

.modalDialog {
    opacity: 1;
    display:none;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog > div {
    width: 225px;
    position: relative;
    margin: 10% auto;
    top: 65px;
    padding: 5px 20px 13px 20px;
    background: #fff;
}
.modal_close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor:pointer;
}
.modal_close:hover {
    background: #00d9ff;
}


.btn{
    display: inline-block;
    padding: 7px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #0EB6EA;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.infullpage{
    display:block;
}

.infullpage > div {
    width: 335px;
}